# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
*.pkl
*.h5
models/

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Logs
*.log

# Environment variables
.env

# DO NOT IGNORE CSV FILES
# data/*.csv
